.wrapper {
  position: relative;
  overflow: hidden;
  width: 1000px;
  height: 5000px; 
}

#slide {
  position: absolute;
  left: -1000px;
  width: 1000px;
  height: 5000px;
  background: #0B0B22;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}
